main {
    margin-top: 40px;
    padding-bottom: 150px;
}

.info-div > p {
    font-size: 18px;
}

#info-div-wrapper {
    text-align: center;
    width: 70%;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}


.slide-images {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#weather-div-wrapper {
    width: 70%;
}

footer{
    margin-top: 70px;
}

@media only screen and (max-width: 520px) {
    .slide-images {
        width: 300px;
    }

    #second-section-div > p {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1600px) {
    .slide-images {
        width: 600px;
    }
}