main{
    padding-bottom: 100px;
}

.accordion-item {
    width: 220px;
}

.accordion-button {
    height: 40px;
}

.card-wrapper-div {
    width: 230px;
}

.card-title {
    height: 60px;
}

.card-body {
    height: 180px;
}