main {
    padding-bottom: 100px;
}

img {
    height: 320px;
    width: auto;
    max-width: 100%;
}

select {
    width: 200px !important;
}

input[type="number"]{
    width: 200px;
}

.details-container {
    height: 320px;
}