<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EStore | Web Application | Nikolay Daskalov</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous" defer></script>
    <script src="/js/loadCartItems.js" type="module"></script>
    <link rel="icon" href="/icon/favicon.jpg">
    <link rel="stylesheet" href="/css/allUsers.css"/>
</head>
<body class="min-vh-100 position-relative">
<header>
    <nav th:replace="fragments/commons::nav"></nav>
</header>
<main class="pt-5 text-center">
    <section>
        <h1>Users</h1>
        <ul class="mt-4 list-group ms-auto me-auto" id="user-container">
            <li class="list-group-item border-3" th:each="user : ${users}" th:object="${user}">
                <h3 th:text="*{username}">Heading</h3>
                <p th:text="|Created on: *{createdOn}|">Paragraph</p>
                <th:block th:if="${!user.username.equals(currentUser)}">
                    <form th:method="patch" th:action="@{/admin/users/roles}">
                        <input type="hidden" th:value="*{username}" name="username"/>
                        <div class="form-check form-switch text-start ms-auto me-auto w-25"
                             th:each="role, roleStatus : ${T(com.project.EStore.model.entity.enums.RoleEnum).values()}"
                             th:if="${role != T(com.project.EStore.model.entity.enums.RoleEnum).USER}">
                            <input class="form-check-input" type="checkbox" th:id="'switch' + *{username} + ${roleStatus.index + 1}"
                                   name="roles" th:value="${role}"
                                    th:checked="${user.roles.contains(role)}">
                            <label class="form-check-label" th:for="'switch' + *{username} + ${roleStatus.index + 1}"
                                   th:text="${role.toString()}">Text</label>
                        </div>
                        <input class="btn btn-primary mt-3" type="submit" value="Update Roles"/>
                    </form>
                    <form th:method="delete" th:action="@{/admin/users}">
                        <input type="hidden" th:value="*{username}" name="username"/>
                        <input class="btn btn-danger mt-3" type="submit" value="Delete User"/>
                    </form>
                </th:block>
                <th:block th:if="${user.username.equals(currentUser)}">
                    <p>Currently Logged</p>
                </th:block>
            </li>
        </ul>
    </section>
</main>
<footer th:replace="fragments/commons::absolute-footer"></footer>
</body>
</html>